{% extends "base.html" %}
{% block content %}

<h1>{{ page_title }}</h1>
<br>

{% for book in reviews %}

        <div class="row featurette">

            {% if loop.index % 2 != 0 %}

                <div class="col-md-7">
                    <h3>{{ loop.index }}. {{ book.name }}</h3>
                    <p>{{ book.description }}</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ book.image_source }}" alt="" class="featurette-image image-responsive">
                </div>
        
            {% else %}

                <div class="col-md-5">
                    <img src="{{ book.image_source }}" alt="" class="featurette-image image-responsive">
                </div>
                 <div class="col-md-7">
                    <h3>{{ loop.index }}. {{ book.name }}</h3>
                    <p>{{ book.description }}</p>
                </div>

            {% endif %}
        </div>

        {% if loop.index != loop.length %}
    
            <hr class="featurette-divider">

        {% endif %}

    {% endfor %}

{% endblock %}