{% extends "base.html" %}
{% block content %}

{{ reviews[0]["name"] }}


    <h1>{{ page_title }}</h1>
    <div class="row featurette">
        <div class="col-md-7">
            <h3>Before We Say Goodbye - Toshikazu Kawaguchi</h3>
			<p>
				"Before We Say Goodbye" is a beautifully crafted novel that tugs at the heartstrings and reminds us of the
				preciousness of time and the importance of saying what needs to be said before it's too late. Kawaguchi's ability to
				create a magical, yet relatable world makes this book a compelling read for anyone who has ever wished for one more
				moment with a loved one.

				Whether you're a long-time fan of the series or a newcomer, this book offers a touching exploration of the human
				heart and the timeless bonds that connect us all. Grab a cup of coffee, settle into your favorite reading nook, and
				let "Before We Say Goodbye" take you on a journey through time and emotion.
			</p>
        </div>
        <div class="col-md-5">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVWlZzkFm1i4lj6vcRwf6xsRYgyk_6nH0uktqkwoeuG4iY9tLc" alt="before we say goodbye book cover">
        </div>
    </div>
<br>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaC7O8M3u8ubdzaXyBcydwckP8-LFVkYdYz2QFZ9y_zPB4MfxN" alt="welcome to the hyunam dong bookshop book cover">
        </div>
        <div class="col-md-7">
            <h3>Welcome To The Hyunam-Dong Bookshop - Hwang Bo-Reum</h3>
			<p>
				"Welcome to the Hyunam-Dong Bookshop" is a charming and uplifting novel that celebrates the magic of books and the
				power of human connection. Hwang Bo-Reum crafts a narrative that is both touching and inspiring, making it a perfect
				read for anyone who has ever found solace in a book or a sense of belonging in a special place.

				Whether you're a bibliophile or simply someone in search of a heartwarming story, this book promises to be a
				delightful journey that will leave you feeling enriched and inspired. So, step into the Hyunam-Dong Bookshop, and
				let yourself be swept away by its magic.
			</p>
        </div>
    </div>
<br>
    <div class="row featurette">
        <div class="col-md-7">
            <h3>Convenience Store Woman - Sayaka Murata</h3>
            <p>
                "Convenience Store Woman" is a compelling and unconventional novel that challenges readers to rethink
                societal norms and the concept of fulfillment. Sayaka Murata crafts a story that is both engaging and
                thought-provoking, with a protagonist whose unconventional life invites empathy and reflection.

                For readers interested in character-driven stories that question societal expectations and explore the
                complexities of identity, "Convenience Store Woman" offers a refreshing and insightful perspective. It's
                a short yet impactful read that leaves a lasting impression, encouraging readers to embrace their
                individuality and find their own path to happiness.

                Whether you're intrigued by contemporary Japanese literature or seeking a novel that challenges
                conventional thinking, "Convenience Store Woman" is a must-read. Step into Keiko's world, and you might
                just find yourself questioning what it means to live a “normal” life.
            </p>
        </div>
    <div class="col-md-5">
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT9agKMmdxq12o4KMVQJSmRRGD99l7BRUyXulY0St-onwzKOiqt" alt="convenience store woman book cover">
    </div>
</div>
{% endblock %}