{% extends "base.html" %}
{% block content %}
    <h1>{{ page_title}}</h1>
    <p>
        We love hearing from fellow book lovers! Whether you have a question, a book recommendation, or just want to
        share your thoughts, we’re here to connect with you.

        <h3>Get In Touch:</h3>
            <ul>
                <li>📧 <strong>Email:</strong> hello@betsysbookreviews.com</li>
                <li>📞 <strong>Phone:</strong> (+44) 01234 567890</li>
                <li>📍<strong>Address:</strong> Betsy's Book Reviews, 123 Storybook Lane, Booktown, BK 56789</li>   
            </ul>
    <br>
        <h3>Follow Us:</h3>
            <ul>
                <li><strong>Facebook:</strong> facebook.com/betsysbookreviews</li>
                <li><strong>Instagram:</strong> instagram.com/betsysbookreviews</li>
                <li><strong>Twitter:</strong> twitter.com/betsysreviews</li>
            </ul>
    <br>    
        <h3>Join Our Community:</h3>

        Subscribe to our newsletter to get the latest reviews, bookish news, and exclusive content delivered straight to
        your inbox. Just fill out the form below and join our literary family!
    <br>
    <br>
        [Subscription Form]
    <br>
    <br>
        Thank you for visiting Betsy's Book Reviews. Happy reading! 💕🐾
    </p>
{% endblock %}